<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>io.hanhi.SignIn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Save</servlet-name>
		<servlet-class>io.hanhi.Save</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSaved</servlet-name>
		<servlet-class>io.hanhi.GetSaved</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>V</servlet-name>
		<servlet-class>io.hanhi.View</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Mirror</servlet-name>
		<servlet-class>io.hanhi.Mirror</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Protect</servlet-name>
		<servlet-class>io.hanhi.Protect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Story</servlet-name>
		<servlet-class>io.hanhi.templates.Story</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SSL1</servlet-name>
		<servlet-class>io.hanhi.ssl.SSL1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SSL2</servlet-name>
		<servlet-class>io.hanhi.ssl.SSL2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Save</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSaved</servlet-name>
		<url-pattern>/getSaved</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>V</servlet-name>
		<url-pattern>/v</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mirror</servlet-name>
		<url-pattern>/mirror</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Protect</servlet-name>
		<url-pattern>/protect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Story</servlet-name>
		<url-pattern>/story</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SSL1</servlet-name>
		<url-pattern>/.well-known/acme-challenge/HB8AWqHcaND_xgZ0GN0Pxf77yr4kQD3Ee923HHMxOZg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SSL2</servlet-name>
		<url-pattern>/.well-known/acme-challenge/q2GtU0bOQMUvDhdL_R0sLlq01e50wR7r9DQlHZLNwi8</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>profile</web-resource-name>
            <url-pattern>/profile/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
